body {
	margin: 0;
	font-family: 'Quicksand', sans-serif;
	background-color: rgb(221, 232, 220);
}

.lbl-input-grid{
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.container-form-producto{
	width: 60%;
}
.header-listas{
	display: flex;
	padding-top: 12px;
	justify-content: space-between;
}